// AWS launchpad styles

// Region image
.region-image
  img
    width: 100%

// Other version paragraph
.other-version
  color: $c_text
  font-style: italic

// Add some margin to input in disk size
.input-group[data-name="diskSize"]
  margin-top: 10px

.disk-prize
  font-weight: bold

.actions
  margin:  10px auto 25px
  width: 50%
  min-width: 250px
  text-align: center

.monthly-cost
  padding-top: 15px
  border-top: 1px solid lighten($c_secondary, 15%)
