// Infobox Component
.info-box
  padding: 13px 10px
  border-radius: $d_inputRadius
  border: 1px solid $c_inputBorder
  background-color: white
  margin-bottom: $d_inputMarginBottom
  @include clearfix

  .info-box-image,
  .info-box-content
    float: left

  .info-box-image
    text-align: center
    width: 15%
    // Prevent the box to ignore width when image is loading
    min-height: 1
    // Fix the max size of the image
    img
      max-width: 85%

  .info-box-content
    box-sizing: border-box
    padding-left: 10px
    width: 80%

    p
      margin: 0 0 10px
