// Labels
label
  text-transform: uppercase
  font-size: .8em
  font-weight: bold
  display: block
  margin-bottom: 5px

  // Help tooltips
  [data-info]
    background-color: lighten($c_text, 10%)
    color: white
    font-size: .7em
    border-radius: 50%
    padding: 2px 4px
    display: inline-block
    position: relative
    top: -2px
    margin-left: 3px
    text-align: center
    cursor: pointer
    // Display info
    &:hover:after
      background: $c_labelTooltipBg
      border-radius: 3px
      color: #fff
      content: attr(data-info)
      display: block
      left: 2.1em
      padding: .3em 1em
      position: absolute
      text-shadow: 0 1px 0 #000
      white-space: pre-wrap
      bottom: 0
      z-index: 98
      width: 150px

    &:hover:before
      border: solid
      border-color: transparent $c_labelTooltipBg
      border-width: .4em .4em .4em 0
      content: ""
      display: block
      top: 50%
      margin-top: -3px
      left: 1.8em
      position: absolute
      z-index: 99
