// Radio group
.radio-group
  &.horizontal
    // Apply some margin between elements
    .radio-item
      display: inline-block
      margin-left: 20px
      margin-right: 5px
      &:first-child
        margin-left: 0

      input
        margin-right: 5px
        position: relative
        top: -1px

  &.card
    margin: 5px 0
    display: flex
    justify-content: center
    flex-wrap: wrap
