// Radio card server button class
.radio-card-server-item
  width: $d_radioCardServerWidth
  margin: 10px 15px
  border: 1px solid lighten($c_secondary, 10%)
  border-radius: $d_radioCardServerRadius
  text-align: center
  cursor: pointer

  &[data-checked="true"]
    border-color: $c_primary
    h2
      color: $c_primary

  &:hover:not([data-checked="true"])
    border-color: lighten($c_primary, 15%)
    h2
      color: lighten($c_primary, 15%)

  input
    display: none

  .radio-card-server-specs
    color: lighten($c_text, 15%)
    font-style: italic

  p
    margin: 0
    &:last-child
      margin-bottom: 10px

    .hourly-cost
      display: inline-block
      margin-left: 7px
