// Radio server buttons
.radio-server-item
  input
    float: left

  .radio-server-info
    margin-left: 5px
    display: inline-block

    p
      margin: 0
      &:last-child
        margin-bottom: 10px

      .hourly-cost
        display: inline-block
        margin-left: 7px
