// Range slider component
.rangeslider
  margin: 20px 0
  position: relative
  background: $c_rangeSliderBg

  .rangeslider__fill,
  .rangeslider__handle
    position: absolute

  &, .rangeslider__fill
    display: block
    box-shadow: inset 0px 1px 3px $c_inputShadow

  .rangeslider__handle
    background: #fff
    border: $d_rangeSliderHandleBorder solid #ccc
    cursor: pointer
    display: inline-block
    position: absolute
    width: $d_rangeSliderHandle
    height: $d_rangeSliderHandle
    border-radius: 50%
    top: -(($d_rangeSliderHandle + $d_rangeSliderHandleBorder) / 2)

    &:active
      background: lighten($c_rangeSliderFill, 5%)

// Horizontal
.rangeslider-horizontal
  height: $d_rangeSliderHeight
  border-radius: ($d_rangeSliderHeight / 2)

  .rangeslider__fill
    height: 100%
    background: $c_rangeSliderFill
    border-radius: 10px
    top: 0
