// Variables
@import "vars/colors"
@import "vars/dimens"

// Utils
@import "utils/mixins"

// Styles
@import "base/forms"
@import "base/buttons"
@import "base/containers"
@import "base/text"
@import "components/_title"
@import "components/_label"
@import "components/_infobox"
@import "components/_radiogroup"
@import "components/_radioserverbutton"
@import "components/_radiocardserverbutton"
@import "components/_rangeslider"
@import "pages/_awslaunchpad"

// Base
body
  font-family: Arial, sans-serif
  color: $c_text
  background-color: $c_bg
  font-size: $d_text

a
  text-decoration: none
  color: $c_primary

// Resets
.rtop-margin
  margin-top: 0 !important
