// Style for buttons
.btn
  padding: $d_buttonPadding
  border-radius: $d_borderRadius
  font-size: .9em
  border: none
  font-weight: bold
  color: white

  &.btn-secondary
    background-color: $c_secondary
  &.btn-primary
    background-color: $c_primary

.btn + .btn
  margin-left: 10px
