// Base container
.container
  max-width: $d_containerWidth
  padding: $d_containerPadding
  margin: 10px auto

  .pure-e
    box-sizing: border-box
    margin: 10px 0

    // Screens bigger than tablets
    @media screen and (min-width: $break-md)
      padding: 0 10px

      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
