// Global styles for forms
.input-group
  margin-bottom: $d_inputMarginBottom

input[type="text"],
input[type="number"],
select
  padding: $d_inputPadding
  border-radius: $d_inputRadius
  border: 1px solid $c_inputBorder
  box-shadow: inset 1px 1px 3px $c_inputShadow
  width: 100%
  background-color: white
  font-size: .9em

.input-with-unit
  input
    width: 55%
    border-radius: $d_inputRadius 0 0 $d_inputRadius

  // Input unit
  .input-unit
    display: inline-block
    width: 42%
    text-align: center
    background-color: lighten($c_inputBorder, 10%)
    padding: 14px 0 15px
    border: 1px solid $c_inputBorder
    margin-left: -2px
    border-radius: 0 $d_inputRadius $d_inputRadius 0

// Select
select
  height: 44px
